<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <div class="row">
        <div class="jumbotron text-center">
            <div class="col-xs-2">
                <a href="/" class="lang-logo"><img src="/static/images/rotasort.png" /></a>
            </div>
            <div class="col-xs-8">
                <h1>Breaks Management</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- form -->
        <form action="http://www.rotasort.uk/breaksupdate" method="post" name="breaksupdate" enctype="application/x-www-form-urlencoded" autocomplete="on">
            <fieldset>
                <legend>Edit Break</legend>
                {{range .Breaking}}
                <div class="autocomplete">
                    <label for="BreakName" class="col-xs-4 col-form-label">BreakName</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.BreakName}}" name="BreakName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="BreakStart" class="col-xs-4 col-form-label">BreakStart</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.BreakStart}}" name="BreakStart" placeholder="dates need to be yyy-mm-dd i.e. 2016-12-01"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-8">
                        <input class="form-control" type="hidden" value="{{.Id}}" name="Id" />
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
        {{end}}
        </fieldset>
        <!-- end of form -->
    </div>
</body>

</html>
