<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <div class="jumbotron text-center">
        <a href="/" class="lang-logo">
            <img src="/static/images/rotasort.png" />
        </a>
        <h1>Breaks Create</h1>
    </div>
    <div class="container">
        <!-- form -->
        <form action="http://www.rotasort.uk/breakscreate" method="post" name="breakscreate" enctype="application/x-www-form-urlencoded" autocomplete="on">
            <fieldset>
                <legend>Add break</legend>
                <div class="autocomplete">
                    <label for="BreakName" class="col-xs-4 col-form-label">Break Name</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="BreakName" id="BreakName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="BreakLength" class="col-xs-4 col-form-label">Break Length</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="BreakLength" id="BreakLength" />
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
        <!-- end of form -->
    </div>
</body>
</html>
