<html>
  {{template "header.tmpl.html"}}
<body>
    {{template "nav.tmpl.html"}}
    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img src="/static/images/rotasort.png"/>
            </a>
            <h1>Holiday Created</h1>
            <p>Holiday was created, use top menu to carry on</p>
            <hr/>
            <p>This was the holiday you just created:-</p>
            <p>{{.holidayname}}</p>
            <hr/>
        </div>
    </div>
</body>

</html>
