<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <div class="row">
        <div class="jumbotron text-center">
            <div class="col-xs-2">
                <a href="/" class="lang-logo"><img src="/static/images/rotasort.png" /></a>
            </div>
            <div class="col-xs-8">
                <h1>Holiday Management</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- form -->
        <form action="http://www.rotasort.uk/holidaysupdate" method="post" name="holidaysupdate" enctype="application/x-www-form-urlencoded" autocomplete="on">
            <fieldset>
                <legend>Edit Holiday</legend>
                {{range .Holidaying}}
                <div class="autocomplete">
                    <label for="HolidayName" class="col-xs-4 col-form-label">HolidayName</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.HolidayName}}" name="HolidayName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="HolidayStart" class="col-xs-4 col-form-label">HolidayStart</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.HolidayStart}}" name="HolidayStart" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="HolidayEnd" class="col-xs-4 col-form-label">HolidayEnd</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.HolidayEnd}}" name="HolidayEnd" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-8">
                        <input class="form-control" type="hidden" value="{{.Id}}" name="Id" />
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
        {{end}}
        </fieldset>
        <!-- end of form -->
    </div>
</body>

</html>
