<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <div class="container">
        <p>canvas content here</p>
        <div class="col-xs-3">
            <div id="wrapper">
                <div id="content">
                    <h2>Apple products</h2>
                    <ul id="bar">
                        <li id="iphone">
                            <div class="top">
                                <img src="static/images/iphone.png" alt="iPhone" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>iPhone</h3>
                                    <p>80,1</p>
                                </div>
                            </div>
                        </li>
                        <li id="macbook">
                            <div class="top">
                                <img src="static/images/macbook.png" alt="MacBook" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>MacBook</h3>
                                    <p>102,6</p>
                                </div>
                            </div>
                        </li>
                        <li id="ipod">
                            <div class="top">
                                <img src="static/images/ipod.png" alt="iPod" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>iPod</h3>
                                    <p>198,4</p>
                                </div>
                            </div>
                        </li>
                        <li id="cinema">
                            <div class="top">
                                <img src="static/images/cinema.png" alt="Cinema Display" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>Cinema&nbsp;Display</h3>
                                    <p>38,2</p>
                                </div>
                            </div>
                        </li>
                        <li id="macmini">
                            <div class="top">
                                <img src="static/images/macmini.png" alt="Mac Mini" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>Mac&nbsp;Mini</h3>
                                    <p>55,6</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="apple">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="wrapper">
                <div id="content">
                    <h2>Apple products</h2>
                    <ul id="bar">
                        <li id="iphone">
                            <div class="top">
                                <img src="static/images/iphone.png" alt="iPhone" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>iPhone</h3>
                                    <p>80,1</p>
                                </div>
                            </div>
                        </li>
                        <li id="macbook">
                            <div class="top">
                                <img src="static/images/macbook.png" alt="MacBook" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>MacBook</h3>
                                    <p>102,6</p>
                                </div>
                            </div>
                        </li>
                        <li id="ipod">
                            <div class="top">
                                <img src="static/images/ipod.png" alt="iPod" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>iPod</h3>
                                    <p>198,4</p>
                                </div>
                            </div>
                        </li>
                        <li id="cinema">
                            <div class="top">
                                <img src="static/images/cinema.png" alt="Cinema Display" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>Cinema&nbsp;Display</h3>
                                    <p>38,2</p>
                                </div>
                            </div>
                        </li>
                        <li id="macmini">
                            <div class="top">
                                <img src="static/images/macmini.png" alt="Mac Mini" />
                            </div>
                            <div class="bottom">
                                <div class="infobox">
                                    <h3>Mac&nbsp;Mini</h3>
                                    <p>55,6</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="apple">
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div id="wrapper">
                    <div id="content">
                        <h2>Apple products</h2>
                        <ul id="bar">
                            <li id="iphone">
                                <div class="top">
                                    <img src="static/images/iphone.png" alt="iPhone" />
                                </div>
                                <div class="bottom">
                                    <div class="infobox">
                                        <h3>iPhone</h3>
                                        <p>80,1</p>
                                    </div>
                                </div>
                            </li>
                            <li id="macbook">
                                <div class="top">
                                    <img src="static/images/macbook.png" alt="MacBook" />
                                </div>
                                <div class="bottom">
                                    <div class="infobox">
                                        <h3>MacBook</h3>
                                        <p>102,6</p>
                                    </div>
                                </div>
                            </li>
                            <li id="ipod">
                                <div class="top">
                                    <img src="static/images/ipod.png" alt="iPod" />
                                </div>
                                <div class="bottom">
                                    <div class="infobox">
                                        <h3>iPod</h3>
                                        <p>198,4</p>
                                    </div>
                                </div>
                            </li>
                            <li id="cinema">
                                <div class="top">
                                    <img src="static/images/cinema.png" alt="Cinema Display" />
                                </div>
                                <div class="bottom">
                                    <div class="infobox">
                                        <h3>Cinema&nbsp;Display</h3>
                                        <p>38,2</p>
                                    </div>
                                </div>
                            </li>
                            <li id="macmini">
                                <div class="top">
                                    <img src="static/images/macmini.png" alt="Mac Mini" />
                                </div>
                                <div class="bottom">
                                    <div class="infobox">
                                        <h3>Mac&nbsp;Mini</h3>
                                        <p>55,6</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div id="apple">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
