<html>
  {{template "header.tmpl.html"}}
<body>
    {{template "nav.tmpl.html"}}
    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img src="/static/images/sophiadex.png"/>
            </a>
            <h1>Question Builder and Management</h1>
            <a href="http://www.sophiadex.uk/qbcreateform"><img src="static/images/file_add.png"/></a>
            <table id="qblisting" class="tablesorter">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer 1</th>
                        <th>Course Ref</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Questions}}
                    <tr>
                        <td> {{.Question}} </td>
                        <td> {{.Answer_1}} </td>
                        <td> {{.CourseReference}} </td>
                        <td>  <a href="http://www.sophiadex.uk/qbedit/{{.Id}}"><img src="static/images/file_edit.png"/></a></td>
                        <td>  <a href="http://www.sophiadex.uk/qbdelete/{{.Id}}"><img src="static/images/file_delete.png"/></a></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    // call the tablesorter plugin
    $("table").tablesorter({
        // sort on the first column and third column, order asc
        sortList: [[0,0],[1,0]]
    });
        $(function() {      
        $("#tablesorter-demo").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
        $("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
    }); 

}); 


</script>
</html>
