<html>
    {{template "header.tmpl.html"}}
    <body>
        {{template "nav.tmpl.html"}}
        <div class="jumbotron text-center">
            <a href="/" class="lang-logo">
                <img src="/static/images/rotasort.png" />
            </a>
            <h1>Base Shifts</h1>
            <a href="http://www.rotasort.uk/breakscreateform"><img src="static/images/file_add.png" /></a>
        </div>
        <div class="container">
            <table id="qblisting" class="tablesorter">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Length</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Breaking}}
                    <tr>
                        <td> {{.BreakName}} </td>
                        <td> {{.BreakLength}} </td>
                        <td>
                            <a href="http://www.rotasort.uk/breaksedit/{{.Id}}"><img src="static/images/file_edit.png" /></a>
                        </td>
                        <td>
                            <a href="http://www.rotasort.uk/breaksdelete/{{.Id}}"><img src="static/images/file_delete.png" /></a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </body>

</html>