<html>
  {{template "header.tmpl.html"}}
<body>
    {{template "nav.tmpl.html"}}
    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img src="/static/images/rotasort.png"/>
            </a>
            <h1>Staff and Management</h1>
            <p>{{.Staffing}}</p>
            <a href="http://www.rotasort.uk/qbcreateform"><img src="static/images/file_add.png"/></a>
            <table id="qblisting" class="tablesorter">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Staffing}}
                    <tr>
                        <td> {{.Username}} </td>
                        <td> {{.Firstname}} </td>
                        <td> {{.Lastname}} </td>
                        <td> {{.DeptId}} </td>
                        <td>  <a href="http://www.rotasort.uk/qbedit/{{.Id}}"><img src="static/images/file_edit.png"/></a></td>
                        <td>  <a href="http://www.rotasort.uk/qbdelete/{{.Id}}"><img src="static/images/file_delete.png"/></a></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    // call the tablesorter plugin
    $("table").tablesorter({
        // sort on the first column and third column, order asc
        sortList: [[0,0],[0,0]]
    });
        $(function() {      
        $("#tablesorter-demo").tablesorter({sortList:[[0,0],[0,1]], widgets: ['zebra']});
        $("#options").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}, 4:{sorter: false}}});
    }); 

}); 


</script>
</html>
