<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <div class="jumbotron text-center">
        <a href="/" class="lang-logo">
            <img src="/static/images/rotasort.png" />
        </a>
        <h1>Staff Management Create</h1>
    </div>
    <div class="container">
        <!-- form -->
        <form action="http://www.rotasort.uk/staffcreate" method="post" name="staffcreate" enctype="application/x-www-form-urlencoded" autocomplete="on">
            <fieldset>
                <legend>Add staff member</legend>
                <div class="autocomplete">
                    <label for="Email" class="col-xs-4 col-form-label">Email</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Email" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Username" class="col-xs-4 col-form-label">Username</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Username" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-xs-4 col-form-label">Password</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Password" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Phone" class="col-xs-4 col-form-label">Phone</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Phone" placeholder="Phone" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Postcode" class="col-xs-4 col-form-label">Postcode</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Postcode" placeholder="Postcode" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Firstname" class="col-xs-4 col-form-label">Firstname</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Firstname" placeholder="Firstname" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Lastname" class="col-xs-4 col-form-label">Lastname</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Lastname" placeholder="Optional answer goes here" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CompaniesId" class="col-xs-4 col-form-label">CompaniesId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="CompaniesId" placeholder="User can see this when they have answered, elucidates question" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="StoresId" class="col-xs-4 col-form-label">StoresId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="StoresId" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DeptId" class="col-xs-4 col-form-label">DeptId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="DeptId" />
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
        <!-- end of form -->
    </div>
</body>

</html>
