<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <div class="jumbotron text-center"></div>
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/static/images/rotasort.png" />
        </a>
        <h1>Staff Management</h1>
        <!-- form -->
        <form action="http://www.rotasort.uk/tasksupdate" method="post" name="tasksupdate" enctype="application/x-www-form-urlencoded" autocomplete="on">
            <fieldset>
                <legend>Edit Task</legend>
                {{range .Tasking}}
                <div class="autocomplete">
                    <label for="TaskName" class="col-xs-4 col-form-label">TaskName</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.TaskName}}" name="TaskName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TaskType" class="col-xs-4 col-form-label">TaskType</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.TaskType}}" name="TaskType" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Weighting" class="col-xs-4 col-form-label">Weighting</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.Weighting}}" name="Weighting" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeWhen" class="col-xs-4 col-form-label">TimeWhen</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.TimeWhen}}" name="TimeWhen" placeholder="TimeWhen" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Time_Offset" class="col-xs-4 col-form-label">Time_Offset</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.Time_Offset}}" name="Time_Offset" placeholder="Time_Offset" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeFloat" class="col-xs-4 col-form-label">TimeFloat</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.TimeFloat}}" name="TimeFloat" placeholder="TimeFloat" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeLength" class="col-xs-4 col-form-label">TimeLength</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.TimeLength}}" name="TimeLength" placeholder="Optional answer goes here" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="NoOfJobs" class="col-xs-4 col-form-label">NoOfJobs</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.NoOfJobs}}" name="NoOfJobs" placeholder="User can see this when they have answered, elucidates question" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeMin" class="col-xs-4 col-form-label">TimeMin</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="{{.TimeMin}}" name="TimeMin" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeMax" class="col-xs-4 col-form-label">TimeMax</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="{{.TimeMax}}" name="TimeMax" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DayOfWeek" class="col-xs-4 col-form-label">DayOfWeek</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.DayOfWeek}}" name="DayOfWeek" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Active" class="col-xs-4 col-form-label">Active</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="{{.Active}}" name="Active" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CompaniesId" class="col-xs-4 col-form-label">CompaniesId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="{{.CompaniesId}}" name="CompaniesId" placeholder="In seconds" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="StoresId" class="col-xs-4 col-form-label">StoresId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="{{.StoresId}}" name="StoresId" placeholder="In seconds" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DeptId" class="col-xs-4 col-form-label">DeptId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="{{.DeptId}}" name="DeptId" placeholder="In seconds" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-8">
                        <input class="form-control" type="hidden" value="{{.Id}}" name="Id" />
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
        {{end}}
        </fieldset>
        <!-- end of form -->
    </div>
</body>

</html>
