<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <div class="row">
        <div class="jumbotron text-center">
            <div class="col-xs-2">
                <a href="/" class="lang-logo"><img src="/static/images/rotasort.png" /></a>
            </div>
            <div class="col-xs-8">r
                <h3>Task Management</h3>
            </div>
        </div>
    </div>
   <div class="container">
        <!-- form -->
        <form action="http://www.rotasort.uk/taskscreate" method="post" name="taskscreate" enctype="application/x-www-form-urlencoded" autocomplete="on">
            <fieldset>
                <legend>Create Task</legend>
                <div class="autocomplete">
                    <label for="TaskName" class="col-xs-4 col-form-label">TaskName</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="TaskName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TaskType" class="col-xs-4 col-form-label">TaskType</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="TaskType"  placeholder="'Volume Related', 'Customer Related', 'Customer Related Multiple', 'Fixed Length Filler', 'Variable Length Filler'" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Weighting" class="col-xs-4 col-form-label">Weighting</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Weighting" placeholder="'fixed', 'critical', 'slippable', 'moveable'" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeWhen" class="col-xs-4 col-form-label">TimeWhen</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="TimeWhen" placeholder="12:45" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Time_Offset" class="col-xs-4 col-form-label">Time_Offset</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Time_Offset" placeholder="0" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeFloat" class="col-xs-4 col-form-label">TimeFloat</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="TimeFloat" placeholder="true false" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeLength" class="col-xs-4 col-form-label">TimeLength</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="TimeLength" placeholder="0" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="NoOfJobs" class="col-xs-4 col-form-label">NoOfJobs</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="NoOfJobs" placeholder="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeMin" class="col-xs-4 col-form-label">TimeMin</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="TimeMin" placeholder="1"  />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="TimeMax" class="col-xs-4 col-form-label">TimeMax</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="TimeMax" placeholder="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DayOfWeek" class="col-xs-4 col-form-label">DayOfWeek</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="DayOfWeek" placeholder="0, 1, 2, 3, 4, 5, 6" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Active" class="col-xs-4 col-form-label">Active</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" value="" name="Active"  placeholder="true false" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CompaniesId" class="col-xs-4 col-form-label">CompaniesId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="CompaniesId" placeholder="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="StoresId" class="col-xs-4 col-form-label">StoresId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="StoresId" placeholder="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DeptId" class="col-xs-4 col-form-label">DeptId</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="" name="DeptId" placeholder="1" />
                    </div>
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>

        </fieldset>
        <!-- end of form -->
    </div>
</body>

</html>
